<h1>Roundtrip App</h1>
<p>
Round Trip is more than a trip planner.</p>
<p>
Running on the context-aware hive backend, Round Trip can connect nearby users,
allowing them to share trip updates, local information, and interact in various ways.</p>
